.logo{
    width: 150px;
}
.product-cost{
    background: #1D47CE;
    padding: 3px 4px 3px 4px ;
    border-radius: 5px;
    color: white;
}
.imgCart{
    width: 50px;
}
.granTotalContainer{
    float: right;
}
.botonAth{
    width: 250px !important;
}
